@model IEnumerable<HonestDealer.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding: 20px 20px 20px 20px">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
        <h1>Database Management</h1>
        
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Table to Manage
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>@Html.ActionLink("Automobile", "Index", "Automobiles")</li>
                <li>@Html.ActionLink("Damaged Automobile", "Index", "Damaged_Automobile")</li>
                <li>@Html.ActionLink("Dealership", "Index", "Dealerships")</li>
                <li>@Html.ActionLink("Mechanic", "Index", "Mechanics")</li>
                <li>@Html.ActionLink("Salesmen", "Index", "Salesmen")</li>
                <li>@Html.ActionLink("New Automobile", "Index", "New_Automobile")</li>
                <li>@Html.ActionLink("Used Automobile", "Index", "Used_Automobile")</li>
            </ul>
        </div>
    
    </div>
    <div class="col-md-4">

    </div>

</div>

