@model HonestDealer.Models.Used_Sells

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Used_Sells</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Automobile.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Automobile.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salesman.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salesman.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
