@model IEnumerable<HonestDealer.Models.Salesman>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add a Salesman", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
        </th>
        <th>
            @Html.ActionLink("Salary", "Index", new { sortOrder = ViewBag.SalarySortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_number)
        </th>
        <th>
            @Html.ActionLink("Available Appointments", "Index", new { sortOrder = ViewBag.ApptsSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Used_flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_flag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available_appts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Used_flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_flag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employee_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employee_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employee_id })
        </td>
    </tr>
}

</table>
